In [1]:
import pandas as pd
import numpy as np

In [8]:
# Read in all 2017 rider data
january_2017 = pd.read_csv('201701-citibike-tripdata.csv')
february_2017 = pd.read_csv('201702-citibike-tripdata.csv')
march_2017 = pd.read_csv('201703-citibike-tripdata.csv')
april_2017 = pd.read_csv('201704-citibike-tripdata.csv')
may_2017 = pd.read_csv('201705-citibike-tripdata.csv')
june_2017 = pd.read_csv('201706-citibike-tripdata.csv')
july_2017 = pd.read_csv('201707-citibike-tripdata.csv')
august_2017 = pd.read_csv('201708-citibike-tripdata.csv')
september_2017 = pd.read_csv('201709-citibike-tripdata.csv')
october_2017 = pd.read_csv('201710-citibike-tripdata.csv')
november_2017 = pd.read_csv('201711-citibike-tripdata.csv')
december_2017 = pd.read_csv('201712-citibike-tripdata.csv')

In [9]:
# Merge the 2017 monthly data and sort by trip_id
citibike_2017 = pd.concat([january_2017, february_2017, march_2017, april_2017, may_2017,
                       june_2017, july_2017, august_2017, september_2017,
                       october_2017, november_2017, december_2017])
citibike_2017 = citibike_2017.sort_values(by='Start Time')

In [10]:
citibike_2017.head()

,Trip Duration (Min),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Age,Gender
0,11.33,1/1/2017 0:00,1/1/2017 0:11,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,53,Female
1,21.37,1/1/2017 0:00,1/1/2017 0:22,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,31,Female
2,10.80,1/1/2017 0:00,1/1/2017 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,NaN
3,10.52,1/1/2017 0:01,1/1/2017 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,NaN
4,10.35,1/1/2017 0:01,1/1/2017 0:11,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,NaN

In [11]:
# Save the DF to csv for use in Tableau
citibike_2017.to_csv("citibike_2017.csv", index=False, header=True)